body {
  background-color: #F5F5F5;
}

.container-title {
  align-items: center;
  padding-top: 50px;
}

.container-title h1 {
  font-size: 25px;
}

.form{
  width: 60%;
  margin: 20px auto;
}
.form-item {
  padding: 15px 0;
  width: 100%;
  align-items: center;
}

.form-item-label {
  width: 100%;
  font-size: 16px;
  color: #8A8A8A;
}
.form-item-label-required {
  margin-right: 8px;
  margin-left: 10px;
  padding: 5px;
  width: 48px;
  height: 15px;
  text-align: center;
  background: #E83425;
  color: #fff;
  font-size: 14px;
}

.multi-select {
  color: red;
}

/* チェックボックス非表示 */
input[type=checkbox] {
  display: none;
}

/* チェックボックスがチェックされていないときのボタンのスタイル */
.label_test:after {
  position: absolute;
  content: "";
  display: block;
  top: 50%;
  left: 15px;
  margin: -10px 0 0 -2px;
  width: 17px;
  height: 17px;
  background-color: #fff;
  border: 1px solid #4B4B4B;
  border-radius: 50%;
  z-index: 1;
}

/* チェックボックスのラベル */
.label_test {
  position: relative;
  padding: 0 0 0 40px;
}

/* チェックマークのスタイル */
.label_test:before {
  content: "";
  position: absolute;
  top: 40%;
  left: 20px;
  transform: translateY(-50%) rotate(45deg);
  width: 4px;
  height: 7px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background: none;
  opacity: 0;
  z-index: 2;
}

/* チェックボックスがチェックされたときのボタンのスタイル */
input[type=checkbox]:checked + .label_test:after {
  background-color: #4B4B4B;
}

/* チェックボックスがチェックされたときのチェックマーク */
input[type=checkbox]:checked + .label_test:before {
  opacity: 1;
}

.form-item-input {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 0 10px;
  height: 40px;
  width: 100%;
  font-size: 15px;
}

.form-item-input::placeholder {
  color: #DCDCDC;
}

.form-item-textarea {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 0 10px;
  height: 200px;
  width: 100%;
  font-size: 18px;
  font-weight: lighter;
}

.form-item-textarea::placeholder {
  color: #DCDCDC;
}

.form__error {
  height: 20px;
  color: #ff0000;
  margin-top: 10px;
  text-align: left;
}

.button-container {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.form-btn__back {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  padding: 5px 10px;
  width: 180px;
  height: 40px;
  font-weight: bold;
  font-size: 15px;
  border: none;
  cursor: pointer;
  text-align: center;
  background: #E0DFDE;
  color: #7A7A7A;
  box-shadow: 2px 2px 2px #DCDCDC;
}

.form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  padding: 5px 10px;
  width: 180px;
  height: 40px;
  font-weight: bold;
  font-size: 15px;
  border: none;
  cursor: pointer;
  text-align: center;
  background: #E0DFDE;
  color: #7A7A7A;
  background: #EECA44;
  color: #7A7A7A;
  box-shadow: 2px 2px 2px #DCDCDC;
}

.form-btn:hover {
  background-color: #e2c350;
}

